.adv {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    z-index: 1;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      -ms-transform: rotate(30deg);
      transform: rotate(-15deg);
      height: 70px;
      background-size: 70px;
      background-repeat: no-repeat;
      width: 70px;
      opacity: 0.7;
    }




    &:first-child::before {
      background-image: url(../img/svg/hand.svg);
    }

    &:nth-child(2n)::before {
      background-image: url(../img/svg/car.svg);
    }

    &:last-child::before {
      background-image: url(../img/svg/hands.svg);
    }

  }

  &__title {
    color: var(--light);
    letter-spacing: 4px;
    margin-bottom: 10px;
  }
}