.adv {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    z-index: 1;

    @include tablet {
      padding: 0 0 0 85px;
    }

    @include mobile {
      padding: 70px 0 0 0;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      transform: rotate(-15deg);
      height: 70px;
      background-size: 70px;
      background-repeat: no-repeat;
      width: 70px;
      opacity: 0.7;

      @include tablet {
        right: auto;
        left: 0;
        transform: rotate(0deg);
      }

      @include small-tablet {
        bottom: auto;
        top: 0;
      }

      @include mobile {
        left: 0;
        background-size: 50px;
        height: 50px;
        width: 50px;
        top: 10px;
      }
    }

    &:first-child::before {
      background-image: url(../img/svg/hand.svg);
    }

    &:nth-child(2n)::before {
      background-image: url(../img/svg/car.svg);
    }

    &:last-child::before {
      background-image: url(../img/svg/hands.svg);
    }

  }

  &__title {
    color: var(--light);
    letter-spacing: 4px;
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 0;
      letter-spacing: 2px;
    }

    @include mobile {
      margin-bottom: 10px;
    }
  }
}