.callback {
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: -1;
    height: 70px;
    width: 70px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-image: url(../img/svg/red-line.svg);
    transform: rotate(15deg);

    @include tablet {
      bottom: 0px;
      left: 0px;
      background-size: 50px;
    }

    @include small-tablet {
      bottom: -35px;
    }
  }

  &__wrapp {
    display: flex;
    gap: 50px;

    @include tablet {
      gap: 25px;
    }

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__content {}

  &__form {
    width: 400px;
    flex-shrink: 0;

    @include tablet {
      width: 300px;
    }

    @include small-tablet {
      width: 400px;
    }

    @include mobile {
      width: 100%;
    }
  }
}