.contacts {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 60px 0;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    text-align: center;

    @include tablet {
      &:last-child {
        grid-column: 1 /span 3;
      }
    }

    @include mobile {
      &:first-child {
        grid-column: 1 /span 2;
        grid-row: 2;
      }

      &:last-child {
        grid-column: 1 /span 2;
      }
    }
  }

  &__title {
    color: var(--grey);
    margin-bottom: 10px;
  }

  &__description {
    font-style: normal;
    color: var(--grey);
    font-size: 18px;

    @include mobile {
      font-size: inherit;
    }
  }

  &__link {
    font-size: 18px;

    @include mobile {
      font-size: inherit;
    }
  }

  &__social {
    justify-content: center;
  }

  // .contacts__form {

  //   display: flex;
  //   // justify-content: space-between;
  //   grid-column: 4 span;

  //   & .form__label {
  //     width: 250px;
  //     margin: 0 20px 0 0;
  //   }

  //   & .form__input {
  //     background-color: black;
  //   }
  // }
}