.footer {
  &__container {
    padding: 60px;

    @include tablet {
      padding: 40px;
    }

    @include small-tablet {
      padding: 30px;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 30px;

    @include tablet {
      gap: 14px;
    }

    @include small-tablet {
      grid-template-columns: auto 1fr;
      gap: 30px;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__title {
    margin: 0 0 10px 5px;
  }

  &__contacts {
    margin-bottom: 15px;
  }

  &__logo {
    display: block;
    margin-bottom: 10px;
  }

  &__logo-icon {
    width: 120px;
    height: 120px;

    @include mobile {
      width: 80px;
      height: 80px;
    }
  }

  &__social {
    display: flex;

    .social__item:not(:last-child) {
      margin: 0 15px 0 0;
    }
  }

  &__nav {
    @include small-tablet {
      display: none;
    }
  }

  &__nav-item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__nav-link {}

}