.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: .85);
  z-index: 999;
  transition: transform .2s linear;

  @include tablet {
    display: flex;
  }

  @include mobile {
    height: 80px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

    @include mobile {
      flex-direction: row-reverse;
    }
  }

  &__logo {
    display: block;

    @include tablet {
      position: absolute;
      left: calc(50% - (70px / 2));
    }

    @include mobile {
      position: static;
      order: 1;
    }
  }

  &__logo-icon {
    display: block;
    width: 70px;
    height: 70px;

    @include mobile {
      width: 50px;
      height: 50px;
    }
  }

  &__social {
    // @include mobile {
    //   display: none;
    // }
  }

  &__hide {
    transform: translateY(-100px);

    @include mobile {
      transform: translateY(-80px);
    }
  }
}