.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: .85);
  z-index: 999;
  transition: transform .2s linear;

  @include tablet {
    display: flex;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
  }

  &__logo {
    display: block;

    @include tablet {
      position: absolute;
      left: 50%;
    }
  }

  &__logo-icon {
    display: block;
    width: 70px;
    height: 70px;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin: 0 25px 0 0;
  }

  &__link {
    position: relative;
    color: var(--light-main);
    padding: 3px 5px;
    transition: color .2s ease-in-out;

    &::after {
      position: absolute;
      content: '';
      width: 0%;
      height: 1px;
      left: 0;
      bottom: -3px;
      background-color: var(--accent);
      transition: width .2s ease-in-out;
    }

    &:hover {
      color: var(--light);

      &::after {
        width: 100%;
      }
    }
  }
}

.hide {
  transform: translateY(-100px);
}