.link {
  border-radius: 10px;
  display: inline-block;
  text-align: center;

  &--big {
    font-weight: 700;
    color: var(--light);
    background-color: var(--accent);
    font-size: 18px;
    padding: 15px 50px;
  }

  &--grey {
    color: var(--grey);
    position: relative;
    transition: color .2s ease-in-out;
    padding: 3px 5px;

    &::after {
      position: absolute;
      content: '';
      width: 0%;
      height: 1px;
      left: 0;
      bottom: -3px;
      background-color: var(--accent);
      transition: width .2s ease-in-out;
    }

    &:hover {
      color: var(--light);

      &::after {
        width: 100%;
      }
    }
  }

  &--light {
    color: var(--light-main);
  }

  &--accent {
    color: var(--accent);
  }
}