.lizing {
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: -1;
    height: 70px;
    width: 70px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-image: url(../img/svg/red-line.svg);
    transform: scaleX(-1) rotate(115deg);
  }

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__wrapp {
    display: flex;
    gap: 25px;
  }

  &__left {

    max-width: 50%;
  }

  &__right {
    max-width: 50%;
  }

  &__btn {
    margin-top: 20px;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    outline: 1px solid var(--grey-light);
    cursor: pointer;
  }

  &__icon {
    height: 100px;
  }
}