.graph-modal {
  &__close {
    background-image: url(../img/svg/close.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    width: 25px;
    height: 25px;
  }

  &__container {
    color: var(--light-main);
    background-color: var(--bg-main);
    padding: 30px;

    &--form {
      max-width: 500px;
      background-color: #191919;
      padding: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__img {
    margin-bottom: 25px;
  }
}