.graph-modal {
  &__close {
    background-image: url(../img/svg/close.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    width: 25px;
    height: 25px;
  }

  &__container {
    color: var(--light-main);
    background-color: var(--bg-main);
    padding: 30px;

    &--form {
      max-width: 500px;
      background-color: #191919;
      padding: 30px;
    }



  }

  &__title {
    display: block;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__img {
    max-height: 400px;
    margin-bottom: 25px;
  }


  &__select-wrapp {
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__select {
    width: 100px;
  }

  &__btn-card {
    margin-top: 10px;
  }

  &__text-result span {
    margin-right: 5px;
  }
}