.news {
  &__title {
    margin-bottom: 30px;
  }

  // &__swiper {
  //   margin-bottom: 30px;
  // }

  &-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 36%;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--grey);
    background-color: rgba(17, 24, 28, 0.8);

    &__top {
      margin: 0;
    }

    &__img {
      width: 100%;
      height: 150px;
      border-radius: 10px 10px 0 0;
      margin-bottom: 5px;
    }

    &__figcaption {
      font-size: 12px;
      text-align: right;
      margin-right: 15px;
    }

    &__figcaption-text {}

    &__description {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 20px 20px;
    }

    &__title {
      line-height: 24px;
      margin-bottom: 15px;
    }

    &__text {
      line-height: 20px;
      margin-bottom: auto;
    }

    &__btn {
      position: relative;
      color: #118DA8;
      margin: 10px auto 0 0;
      // padding: 10px 10px 10px 0;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -3px;
        border-bottom: 1px solid #118DA8;
      }
    }
  }
}