.reviews {
  &__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__title {}

  // &__swiper {
  //   margin-bottom: 30px;
  // }

  &__slide {
    transition: filter 0.3s ease;
    filter: brightness(.5);

    &:hover {
      filter: brightness(1);
    }

    &.swiper-slide-active {
      filter: brightness(1);
    }
  }

  &__card {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &__img {
    height: 125px;
    width: 100%;
    // object-position: top;
    object-fit: contain;
  }

  &__description {}
}