.section {
  &--black {
    background-color: var(--dark);
  }

  &--light {
    background-color: var(--light-main);
    background-color: #f5f5f5;
  }

  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &:first-child {
    margin-bottom: 0;
  }

  &__content {
    border-radius: 35px;
    background-color: #000000;
    padding: 60px;

    @include tablet {
      padding: 40px;
    }

    @include small-tablet {
      padding: 30px;
    }
  }
}