.title {
  font-family: furore;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  @include small-tablet {
    font-size: 18px;
    line-height: 28px;
  }

  &--hero {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 2px;

    @include tablet {
      font-size: 36px;
      line-height: 44px;
    }

    @include small-tablet {
      font-size: 28px;
      line-height: 32px;
    }

    @include mobile {
      font-size: 24px;
      line-height: 24px;
    }

  }

  &--section {
    font-size: 36px;
    line-height: 44px;

    @include tablet {
      font-size: 28px;
      line-height: 32px;
    }

    @include small-tablet {
      font-size: 26px;
      line-height: 30px;
    }

    @include mobile {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &--dark {
    color: var(--bg-main);
  }

  &--accent-sm {
    color: var(--accent);
    font-family: AdventPro;
    font-size: 18px;

    @include small-tablet {
      font-size: 16px;
    }
  }

}

.subtitle {
  font-family: AdventPro;
  font-size: 28px;


  @include tablet {
    font-size: 24px;
    font-weight: 600;
  }

  @include small-tablet {
    font-size: 22px;
  }

  @include mobile {
    font-size: 20px;
  }

  &--dark {
    color: var(--bg-main);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}