.about {
  &__title {
    margin-bottom: 15px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 60px;
  }

  &__img {
    height: 100%;
    border-radius: 10px;
  }

  &__adv {
    grid-column: 2 span /4;
  }
}