<section class="section" id="about">
  <div class="section__container container">
    <div class="section__content about">
      <h2 class="about__title title title--section">О компании</h2>
      <p>
        Благодаря профессиональным инженерам-конструкторам компании, мы способны создавать уникальные продукты, внедрять
        оптимальные технические решения, отвечающие именно Вашим потребностям.
        При покупке спецтехники, на Ваш выбор мы подберем и предоставим гибкие лизинговые программы, оптимальные сроки
        производства и поставки техники. Помимо этого, вы получаете на выбор широкий ассортимент готовой техники и
        наличие оригинальных запчастей от производителя. Мы предлагаем полный спектр услуг в приобретении техники, чтобы
        обеспечить Вас всем необходимым для комфортного решения ваших задач.<br>
        Добро пожаловать в мир надежности, качества и индивидуальных решений!
      </p>
      <div class="about__grid">

        <picture>
          <!-- <source srcset=".webp" type="image/webp"> -->
          <img loading="lazy" src="img/about/about.webp" class="about__img img" alt="о компании">
        </picture>

        <ul class="about__adv adv adv__list list-reset ">
          <li class="adv__item">
            <h4 class="adv__title title">Лучшее из мира в одной машине</h4>
            <p>Мы сочетаем передовые технологии и свои уникальные решения, делая нашу технику выбором номер один для
              профессионалов.</p>
          </li>
          <li class="adv__item">
            <h4 class="adv__title title">Ремонт без хлопот</h4>
            <p>С нашими удобными болтовыми соединениями ремонт и замена деталей - это просто и быстро. Меньше тратите на
              ремонт - больше работаете.</p>
          </li>
          <li class="adv__item">
            <h4 class="adv__title title">Техника, на которую можно полагаться</h4>
            <p>Благодаря тщательному выбору материалов, включая прочную сталь и топовую итальянскую гидравлику, мы
              обеспечиваем долгий срок службы и надёжность нашего оборудования в каждой поездке.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>