<section class="section section--black" id="callback">
  <div class="section__container container">
    <div class="section__content callback">
      <h2 class="callback__title title title--accent-sm">Связаться с нами</h2>
      <div class="callback__wrapp">

        <div class="callback__content">
          <h3 class="callback__subtitle title title--section" data-aos="fade-down"
            data-aos-anchor-placement="center-bottom">Ищете надежное
            решение для грузовых
            перевозок?<br> Мы
            готовы помочь!
          </h3>
          <p data-aos="fade-right" data-aos-anchor-placement="center-bottom">
            Оставьте заявку, и наши специалисты помогут подобрать оптимальный вариант техники, соответствующий вашим
            потребностям.
          </p>

        </div>

        <form action="#" class="callback__form form form--callback" data-aos="fade-left"
          data-aos-anchor-placement="center-bottom">
          <label class="form__label">
            <input type="text" name="name" class="input input-name input-reset" placeholder="Имя">
          </label>
          <label class="form__label">
            <input type="tel" name="phone" class="input input-tel input-reset" placeholder="Телефон">
          </label>
          <label class="form__label">
            <input type="email" name="email" class="input input-email input-reset" placeholder="Почта">
          </label>
          <button class="form__btn btn btn--main btn-reset ">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>