<section class="section section--black" id="catalog">
  <div class="section__container container">
    <div class="section__content catalog">
      <h2 class="catalog__title title title--section">Каталог продукции</h2>

      <ul class="list-reset catalog__list">
        <li class="card">
          <div class="card__inner">
            <div class="card__front">
              <img src="img/catalog/5.png" class="card__img" alt="">
              <h3 class="card__title">Сельхозники</h3>
            </div>
            <div class="card__back">
              <h3 class="card__title">Сельхозники</h3>
              <p class="card__content">
                Функциональность и прочность в каждом элементе. Прекрасный выбор для долгосрочных грузоперевозок и
                сложных логистических задач.
                Объем кузова от ... до ... кубов.
              </p>
              <button class="card__btn btn btn--main btn-reset">Перейти</button>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__inner">
            <div class="card__front">
              <img src="img/catalog/5.png" class="card__img" alt="">
              <h3 class="card__title">Прицепы</h3>
            </div>
            <div class="card__back">
              <h3 class="card__title">Прицепы</h3>
              <p class="card__content">
                Увеличьте свою грузоподъемность. Повышенная производительность и надежность для различных грузов.
                Грузоподъемность от ... до ... кг.
              </p>
              <button class="card__btn  btn btn--main btn-reset">Перейти</button>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__inner">
            <div class="card__front">
              <img src="img/catalog/5.png" class="card__img" alt="">
              <h3 class="card__title">Самосвалы с задней разгрузкой</h3>
            </div>
            <div class="card__back">
              <h3 class="card__title">Самосвалы с задней разгрузкой</h3>
              <p class="card__content">
                Эффективная задняя разгрузка. Идеальный выбор для строительства и транспортировки крупногабаритных
                материалов. Объем кузова от ... до ... кубов.
              </p>
              <button class="card__btn btn btn--main btn-reset">Перейти</button>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__inner">
            <div class="card__front">
              <img src="img/catalog/5.png" class="card__img" alt="">
              <h3 class="card__title">Зерновозы</h3>
            </div>
            <div class="card__back">
              <h3 class="card__title">Зерновозы</h3>
              <p class="card__content">
                Специализированный кузов для зерновых культур. Отличное решение для перевозки урожая с минимальными
                потерями. Объем кузова от ... до ... кубов.
              </p>
              <button class="card__btn  btn btn--main btn-reset">Перейти</button>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__inner">
            <div class="card__front">
              <img src="img/catalog/5.png" class="card__img" alt="">
              <h3 class="card__title">Полуприцепы</h3>
            </div>
            <div class="card__back">
              <h3 class="card__title">Полуприцепы</h3>
              <p class="card__content">
                Функциональность и прочность в каждом элементе. Прекрасный выбор для долгосрочных грузоперевозок и
                сложных логистических задач. Объем кузова от ... до ... кубов.
              </p>
              <button class="card__btn  btn btn--main btn-reset">Перейти</button>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__inner">
            <div class="card__front">
              <img src="img/catalog/5.png" class="card__img" alt="">
              <h3 class="card__title">Овощевозы</h3>
            </div>
            <div class="card__back">
              <h3 class="card__title">Овощевозы</h3>
              <p class="card__content">
                Быстрая и бережная горизонтальная разгрузка. Гарантирует сохранность овощей и уменьшает потери урожая до
                25%. Объем кузова от ... до ... кубов.
              </p>
              <button class="card__btn btn btn--main btn-reset">Перейти</button>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>