<section class="section section--black" id="catalog">
  <div class="section__container container">
    <div class="section__content catalog">
      <h2 class="catalog__title title title--section" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom">
        Каталог продукции</h2>

      <ul class="list-reset catalog__grid">
        <li class="atropos catalog__card" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner catalog__card-inner">
                <img class="catalog__card-img" data-atropos-offset="0" src="img/catalog/test/bg.png" alt="Наш проект">
                <img class="catalog__card-img" data-atropos-offset="2" src="img/catalog/test/left-snow.png"
                  alt="Наш проект">
                <img class="catalog__card-img" data-atropos-offset="2" src="img/catalog/test/right-snow.png"
                  alt="Наш проект">
                <img class="catalog__card-img" data-atropos-offset="1" src="img/catalog/test/road.png" alt="Наш проект">
                <img class="catalog__card-img" data-atropos-offset="3" src="img/catalog/test/car.png" alt="Наш проект">
                <div class="catalog__card-content" data-atropos-offset="5">
                  <h3 class="catalog__card-title title title--section">Сельхозники</h3>
                  <button class="catalog__card-btn btn-reset btn btn--main" data-graph-path="card-1">Подробнее
                    -></button>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="atropos catalog__card" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner catalog__card-inner">
                <img class="catalog__card-img img" src="img/catalog/img-2.webp" alt="Наш проект"
                  data-atropos-offset="-5">
                <div class="catalog__card-content" data-atropos-offset="5">
                  <h3 class="catalog__card-title title title--section">Зерновозы</h3>
                  <button class="catalog__card-btn btn-reset btn btn--main" data-graph-path="card-2">Подробнее
                    -></button>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="atropos catalog__card" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner catalog__card-inner">
                <img class="catalog__card-img img" src="img/catalog/img-3.webp" alt="Наш проект"
                  data-atropos-offset="-5">
                <div class="catalog__card-content" data-atropos-offset="5">
                  <h3 class="catalog__card-title title title--section">Овощевозы</h3>
                  <button class="catalog__card-btn btn-reset btn btn--main" data-graph-path="card-3">Подробнее
                    -></button>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="atropos catalog__card" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner catalog__card-inner">
                <img class="catalog__card-img img" src="img/catalog/img-4.webp" alt="Наш проект"
                  data-atropos-offset="-5">
                <div class="catalog__card-content" data-atropos-offset="5">
                  <h3 class="catalog__card-title title title--section">Прицепы</h3>
                  <button class="catalog__card-btn btn-reset btn btn--main" data-graph-path="card-4">Подробнее
                    -></button>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="atropos catalog__card" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner catalog__card-inner">
                <img class="catalog__card-img img" src="img/catalog/img-5.webp" alt="Наш проект"
                  data-atropos-offset="-5">
                <div class="catalog__card-content" data-atropos-offset="5">
                  <h3 class="catalog__card-title title title--section">Самосвалы с задней разгрузкой</h3>
                  <button class="catalog__card-btn btn-reset btn btn--main" data-graph-path="card-5">Подробнее
                    -></button>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="atropos catalog__card" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner catalog__card-inner">
                <img class="catalog__card-img img" src="img/catalog/img-6.webp" alt="Наш проект"
                  data-atropos-offset="-5">
                <div class="catalog__card-content" data-atropos-offset="5">
                  <h3 class="catalog__card-title title title--section">Полуприцепы</h3>
                  <button class="catalog__card-btn btn-reset btn btn--main" data-graph-path="card-6">Подробнее
                    -></button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>