<section class="section" id="clients">
  <div class="section__container container">
    <div class="section__content companies">
      <h2 class="companies__title title title--section">Кто нам доверяет</h2>

      <div class="swiper swiper--companies">

        <div class="swiper-wrapper">
          <div class="companies__slide swiper-slide">
            <!-- <svg class="companies__icon">
              <use xlink:href="img/sprite.svg#alfaplus"></use>
            </svg> -->
            <img class="companies__img img" src="img/svg/alfaplus.svg" alt="Альфа Плюс">
          </div>

          <div class="companies__slide swiper-slide">
            <img class="companies__img img" src="img/svg/kumir.svg" alt="ООО Кумир">
          </div>

          <div class="companies__slide swiper-slide">
            <img class="companies__img img" src="img/svg/omegaplus.svg" alt="Омега Плюс">
          </div>

          <div class="companies__slide swiper-slide">
            <img class="companies__img img" src="img/svg/rts.svg" alt="РТС">
          </div>

          <div class="companies__slide swiper-slide">
            <img class="companies__img img" src="img/svg/specagromash.svg" alt="Спецагромаш">
          </div>

          <div class="companies__slide swiper-slide">
            <img class="companies__img img" src="img/svg/techspec-main.svg" alt="Техспец">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>