<section class="section" id="companies">
  <div class="section__container container">
    <div class="section__content companies">
      <h2 class="companies__title title title--section">Группа компаний</h2>
      <!-- Slider main container -->
      <div class="swiper swiper--companies">

        <div class="swiper-wrapper">
          <div class="companies__slide swiper-slide">
            <svg class="companies__icon">
              <use xlink:href="img/sprite.svg#alfaplus"></use>
            </svg>
          </div>

          <div class="companies__slide swiper-slide">
            <svg class="companies__icon">
              <use xlink:href="img/sprite.svg#kumir"></use>
            </svg>
          </div>

          <div class="companies__slide swiper-slide">
            <svg class="companies__icon">
              <use xlink:href="img/sprite.svg#omegaplus"></use>
            </svg>
          </div>

          <div class="companies__slide swiper-slide">
            <svg class="companies__icon">
              <use xlink:href="img/sprite.svg#rts"></use>
            </svg>
          </div>

          <div class="companies__slide swiper-slide">
            <svg class="companies__icon">
              <use xlink:href="img/sprite.svg#specagromash"></use>
            </svg>
          </div>

          <div class="companies__slide swiper-slide">
            <svg class="companies__icon">
              <use xlink:href="img/sprite.svg#techspec-main"></use>
            </svg>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>