<section class="section section--light" id="contacts">
  <div class="section__container container">
    <div class="contacts">

      <div class="contacts__item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="50">
        <h3 class="contacts__title title">Адрес</h3>
        <address class="contacts__description">Москва, ул. Электродная, д.2, стр 12, пом. 6Н
        </address>
      </div>

      <div class="contacts__item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="200">
        <h3 class="contacts__title title">Телефон</h3>
        <a class="contacts__link link link--accent" href="tel:88002225892" aria-label="Наш телефон">8 (800)
          222-58-92</a>
      </div>

      <div class="contacts__item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="350">
        <h3 class="contacts__title title">Почта</h3>
        <a class="contacts__link link link--accent" href="mailto:stolica@truck-industry.ru"
          aria-label="Наша почта">stolica@truck-industry.ru
        </a>
      </div>

      <div class="contacts__item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="500">
        <h3 class="contacts__title title">Связаться в один клик</h3>
        <ul class="contacts__social social list-reset" title="">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в telegram">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в whatsapp">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="mailto:stolica@truck-industry.ru" class="social__link" aria-label="Наша почта">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="tel:88002225892" aria-label="Наш телефон">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="map">
    <div id="map"></div>
  </div>
</section>