<footer class="footer">
  <div class="footer__container container">


    <div class="footer__top">
      <div class="footer__content">
        <a href="#" class="footer__logo">
          <svg class="footer__logo-icon">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>
        <ul class="footer__contacts list-reset">
          <li class="footer__contacts-item">
            <a class="link link--grey" href="tel:+79370424000">+7 (937) 042 40-00</a>
          </li>
          <li class="footer__contacts-item">
            <a class="link link--grey" href="mailto:stolica@truck-industry.ru">stolica@truck-industry.ru
            </a>
          </li>
        </ul>

        <ul class="footer__social social list-reset" title="">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в telegram">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в whatsapp">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="связаться почта">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="связаться телефон">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>
      <div class="">
        <h3 class="footer__title title">Разделы</h3>
        <ul class="footer__nav list-reset">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link link link--grey" aria-label="">Каталог</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link link link--grey" aria-label="">О компании</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link link link--grey" aria-label="">Лизинг</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link link link--grey" aria-label="">Наши проекты</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link link link--grey" aria-label="">Отзывы</a>
          </li>
        </ul>
      </div>

      <div class="">
        <h3 class="footer__title title">Оставить заявку</h3>
        <form action="#" class="footer__form form">
          <label class="form__label">
            <input type="text" name="name" class="input input--light input-name input-reset" placeholder="Имя*">
          </label>
          <label class="form__label">
            <input type="tel" name="phone" class="input input--light input-tel input-reset" placeholder="Телефон*">
          </label>
          <button class="form__btn btn btn--main btn-reset ">Заказать обратный звонок</button>
        </form>
      </div>

    </div>


    <!-- <div class="footer__bottom">

    </div> -->
  </div>
</footer>