<footer class="footer">
  <div class="footer__container container">


    <div class="footer__top">
      <div class="footer__content">
        <a href="#" class="footer__logo">
          <svg class="footer__logo-icon">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>
        <ul class="footer__contacts list-reset">
          <li class="footer__contacts-item">
            <a class="link link--grey" href="tel:88002225892" aria-label="Наш телефон">8 (800) 222-58-92</a>
          </li>
          <li class="footer__contacts-item">
            <a class="link link--grey" href="mailto:stolica@truck-industry.ru"
              aria-label="Наша почта">stolica@truck-industry.ru
            </a>
          </li>
        </ul>

        <ul class="footer__social social list-reset" title="">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в telegram">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в whatsapp">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="mailto:stolica@truck-industry.ru" class="social__link" aria-label="Наша почта">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="tel:88002225892" class="social__link" aria-label="Наш телефон">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>
      <div class="footer__nav ">
        <h3 class="footer__title title">Разделы</h3>
        <ul class="footer__nav-list list-reset">
          <li class="footer__nav-item">
            <a href="#catalog" class="footer__nav-link link link--grey" data-scroll aria-label="Каталог">Каталог</a>
          </li>
          <li class="footer__nav-item">
            <a href="#about" class="footer__nav-link link link--grey" data-scroll aria-label="компании">О компании</a>
          </li>
          <li class="footer__nav-item">
            <a href="#lizing" class="footer__nav-link link link--grey" data-scroll aria-label="Лизинг">Лизинг</a>
          </li>
          <li class="footer__nav-item">
            <a href="#project" class="footer__nav-link link link--grey" data-scroll aria-label="Наши проекты">Наши
              проекты</a>
          </li>
          <li class="footer__nav-item">
            <a href="#reviews" class="footer__nav-link link link--grey" data-scroll aria-label="Отзывы">Отзывы</a>
          </li>
        </ul>
      </div>

      <div class="footer__form">
        <h3 class="footer__title title">Оставить заявку</h3>
        <form action="#" class="form form--footer">
          <label class="form__label">
            <input type="text" name="name" class="input input--light input-name input-reset" placeholder="Имя*">
          </label>
          <label class="form__label">
            <input type="tel" name="phone" class="input input--light input-tel input-reset" placeholder="Телефон*">
          </label>
          <button class="form__btn btn btn--main btn-reset ">Заказать обратный звонок</button>
        </form>
      </div>

    </div>

  </div>
</footer>