<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo">
      <svg class="header__logo-icon">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <div class="nav__burger" id="nav-burger">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link link link--light">О компании</a></li>
          <li class="nav__item"><a href="#" class="nav__link link link--light">Каталог</a></li>
          <li class="nav__item"><a href="#" class="nav__link link link--light">Лизинг</a></li>
          <li class="nav__item"><a href="#" class="nav__link link link--light">Наши проекты</a></li>
          <li class="nav__item"><a href="#" class="nav__link link link--light">Отзывы</a></li>
          <li class="nav__item"><a href="#" class="nav__link link link--light">Контакты</a></li>
        </ul>
      </div>
    </nav>

    <a class="link link--accent" href="tel:+79370424000">+7 (937) 042 40-00</a>
  </div>
</header>