<section class="section" id="hero">
  <!-- Slider main container -->
  <div class="swiper swiper--hero">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <picture>
          <!-- <source srcset=".webp" type="image/webp"> -->
          <img loading="lazy" src="img/hero/slide-1.webp" class="hero__img img" height="700" alt="слайд 1">
        </picture>
        <div class="hero__container container">
          <div class="hero__content ">
            <h2 class="hero__title title title--dark title--hero">Saic-Iveco-Hongyan Создан для
              надёжности</h2>
            <p class="hero__subtitle subtitle subtitle--dark">
              Откройте для себя непревзойдённую долговечность Saik-Iveco-Hongyan</p>
            <button class="btn btn--main btn-reset">Получить предложение</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <picture>
          <!-- <source srcset=".webp" type="image/webp"> -->
          <img loading="lazy" src="img/hero/slide-2.webp" class="hero__img img" height="700" alt="слайд 1">
        </picture>
        <div class="hero__container container">
          <div class="hero__content ">
            <h2 class="hero__title title title--dark title--hero">Революция в транспортировке овощей</h2>
            <p class="hero__subtitle subtitle subtitle--dark">Уменьшите потери урожая на
              <span class="hero__count">
                25%
              </span>
              с помощью нашего овощевоза “Яровит”
            </p>
            <button class="btn btn--main btn-reset">Получить предложение</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <picture>
          <!-- <source srcset=".webp" type="image/webp"> -->
          <img loading="lazy" src="img/hero/slide-3.webp" class="hero__img img" height="700" alt="слайд 1">
        </picture>
        <div class="hero__container container">
          <div class="hero__content ">
            <h2 class="hero__title title title--dark title--hero">Повысьте эффективность вашего хозяйства</h2>
            <p class="hero__subtitle subtitle subtitle--dark">Наши прицепы - надёжные партнёры на долгие годы</p>
            <button class="btn btn--main btn-reset">Получить предложение</button>
          </div>
        </div>
      </div>

    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev swiper-button-prev--red"></div>
    <div class="swiper-button-next swiper-button-next--red"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-pagination swiper-pagination--bottom"></div>
  </div>
</section>