<section class="section" id="hero">
  <div class="swiper swiper--hero">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <picture>
          <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
          <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)">
          <img loading="lazy" src="img/hero/slide-1-1920.webp" class="hero__img img" height="700"
            alt="Saic-Iveco-Hongyan">
        </picture>
        <div class="hero__container container">
          <div class="hero__content ">
            <h2 class="hero__title title  title--hero" data-aos="fade-right" data-aos-delay="50">Saic Iveco
              Hongyan Создан для
              надёжности</h2>
            <p class="hero__subtitle subtitle " data-aos="fade-right" data-aos-delay="150">
              Откройте для себя непревзойдённую долговечность Saik Iveco Hongyan</p>
            <button class="btn btn--main btn-reset" data-graph-path="form" data-aos="fade-right"
              data-aos-delay="250">Получить предложение</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <picture>
          <source srcset="img/hero/slide-2-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/hero/slide-2-1024.webp" type="image/webp" media="(max-width: 1439px)">
          <source srcset="img/hero/slide-2-1440.webp" type="image/webp" media="(max-width: 1919px)">
          <img loading="lazy" src="img/hero/slide-2-1920.webp" class="hero__img img" height="700"
            alt="Овощевоз “Яровит”">
        </picture>
        <div class="hero__container container">
          <div class="hero__content ">
            <h2 class="hero__title title title--hero" data-aos="fade-right" data-aos-delay="50">Революция в
              транспортировке овощей</h2>
            <p class="hero__subtitle subtitle " data-aos="fade-right" data-aos-delay="150">Уменьшите
              потери урожая на
              <span class="hero__count">
                25%
              </span>
              с помощью нашего овощевоза “Яровит”
            </p>
            <button class="btn btn--main btn-reset" data-graph-path="form" data-aos="fade-right"
              data-aos-delay="250">Получить предложение</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <picture>
          <source srcset="img/hero/slide-3-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/hero/slide-3-1024.webp" type="image/webp" media="(max-width: 1439px)">
          <source srcset="img/hero/slide-3-1440.webp" type="image/webp" media="(max-width: 1919px)">
          <img loading="lazy" src="img/hero/slide-3-1920.webp" class="hero__img img" height="700" alt="Прицепы">
        </picture>
        <div class="hero__container container">
          <div class="hero__content ">
            <h2 class="hero__title title title--hero" data-aos="fade-right" data-aos-delay="50">Повысьте
              эффективность вашего хозяйства</h2>
            <p class="hero__subtitle subtitle" data-aos="fade-right" data-aos-delay="150">Наши прицепы -
              надёжные партнёры на долгие годы</p>
            <button class="btn btn--main btn-reset" data-graph-path="form" data-aos="fade-right"
              data-aos-delay="250">Получить предложение</button>
          </div>
        </div>
      </div>

    </div>

    <div class="swiper-button-prev swiper-button-prev--red"></div>
    <div class="swiper-button-next swiper-button-next--red"></div>


    <div class="swiper-pagination swiper-pagination--bottom"></div>
  </div>
</section>