<div class="graph-modal">
  <!-- Новости в модальном окне -->
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="news1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <picture>
        <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
        <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
        <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
        <img class="graph-modal__img img" src="img/project/car-1.webp" alt="">
      </picture>
      <p class="graph-modal__text">
        Российский производитель специализированной техники, TRUCK Industry, рад представить вашему вниманию
        нашу новую разработку – автокомплекс для транспортировки живой рыбы – «Живорыбка». Этот проект
        является нашим откликом на потребности рынка и подтверждением того, что российская спецтехника может
        удивить своими инновациями.
      </p>

      <p class="graph-modal__text">
        Почему «Живорыбка» станет незаменимым помощником для вашего бизнеса?
      </p>
      <p class="graph-modal__text">
        Передовые технологии: Каждый элемент комплекса разработан так, чтобы создать идеальные условия для
        жизнедеятельности.
      </p>
      <ul class="graph-modal__text list-reset">
        <li>Аэратор с распылителем обеспечивает оптимальный уровень кислорода, а система регулировки
          температуры позволяет поддерживать живых обитателей в комфортных условиях.</li>
        <li>Генератор кислорода поспособствует стабильному содержанию О² в среде обитания.</li>
        <li>Система циркуляции и очистки воды, добавит ей свежести.</li>
        <li>Климатическая установка обеспечит необходимую температуру воздуха как внутри модуля, так и самой
          воды.</li>
        <li>А дизельный генератор в тандеме с собственным топливным баком, сделает комплекс автономной и
          самостоятельной транспортной единицей, способной длительное время находится в режиме
          самообеспечения.</li>
        <li>И добьем мы все это дело, возможностью подключения комплекса к электросети на 220V и 380V.</li>
      </ul>

      <p class="graph-modal__text">
        Безопасность и комфорт: «Живорыбка» – это не просто транспортное средство, это настоящий дом для
        рыбы. Оснащенный современными системами поддержания микроклимата, он гарантирует сохранность
        вашего ценного груза на весь период перевозки. Качество и надежность: Построенный на базе проверенных
        решений и современного подхода, этот Автокомплекс объединяет в себе все лучшие качества российской
        спецтехники.
      </p>
      <p class="graph-modal__text">
        С «Живорыбкой» вы не только оптимизируете процесс транспортировки живой рыбы, но и получите
        возможность уверенно развивать свой бизнес, зная, что рядом есть надежный партнер – TRUCK Industry.
      </p>
    </div>

  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="news2">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <p class="graph-modal__text">
        Захватывающие новости: наша команда выходит на скоростную
        трассу! Truck Industry, одни из лидеров в области спецтехники, рады
        объявить о новом захватывающем проекте, который выведет нас на
        передовые позиции в мире гонок. Мы официально запускаем
        собственную гоночную команду по дрифту — TI Racing!
        Этот смелый шаг знаменует собой важную веху в истории нашей
        компании, поскольку мы расширяем наши горизонты за пределы
        спецтехники. Обладая страстью к скорости, инновациям и конкуренции,
        мы стремимся принять участие в гоночных мероприятиях и чемпионатах.
      </p>
      <p class="graph-modal__text">
        Почему гонки? В Truck Industry мы всегда стремились к совершенству и
        раздвигали границы возможного. Гонки представляют собой
        окончательное испытание навыков, точности и командной работы. Это
        место, где передовые технологии встречаются с необузданным
        талантом, и где стремление к победе объединяет нас всех.
        Присоединяйтесь к нам в путешествии Мы приглашаем всех наших
        постоянных клиентов, партнеров и сторонников присоединиться к нам в
        этом захватывающем путешествии.
      </p>
      <p class="graph-modal__text">
        Следите за обновлениями, закулисным контентом и возможностями
        взаимодействия с нашей гоночной командой. Мы очень рады этой новой
        главе в истории нашей компании. Будьте готовы стать свидетелями того,
        как мы расширяем границы возможностей, бьем рекорды и творим
        историю в мире гонок. Вместе мы быстро идем к успеху! Давайте усилим
        азарт и творим историю вместе!
      </p>
    </div>

  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="news3">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <p class="graph-modal__text">
        Представляем новую модель картофелевоза ЯРОВИТ: Снижение ущерба урожаю и увеличение прибыли
        Мы рады сообщить о выпуске нашей новинки - картофелевоза "ЯРОВИТ". Это революционное
        пополнение нашего автопарка призвано изменить подход к транспортировке ценных культур, значительно
        сократив их повреждение и, как следствие, увеличив прибыль вашего бизнеса.
      </p>
      <p class="graph-modal__text">
        Одной из отличительных особенностей Яровита является его удивительная способность снижать ущерб
        урожаю на 25%. Мы понимаем, что каждый урожай очень ценен, и минимизация ущерба при
        транспортировке очень важна как для фермеров, так и для дистрибьюторов. С новой моделью
        картофелевоза вы можете быть уверены, что ваша продукция доедет до места назначения в
        первозданном виде.
      </p>
      <p class="graph-modal__text">
        Невозможно переоценить прямую зависимость между снижением ущерба урожаю и увеличением
        прибыли. Меньший ущерб означает более высокое качество продукции, что, в свою очередь, ведет к
        повышению рыночных цен и удовлетворенности клиентов. Инвестиции в ЯРОВИТ - это не просто покупка
        транспортного средства, это стратегический шаг, направленный на повышение финансового успеха
        вашего бизнеса.
      </p>
      <p class="graph-modal__text">
        Выбор новой модели овощевоза YAROVIT - это вклад в будущее вашего сельскохозяйственного бизнеса.
        Сокращая потери урожая и повышая качество продукции, вы не только улучшаете свою репутацию, но и
        повышаете свою рентабельность.
      </p>
      <p class="graph-modal__text">
        Не упустите возможность поднять перевозки урожая на новый уровень и увеличить прибыль вашего
        бизнеса. Присоединяйтесь к нам, чтобы отметить будущее транспортировки сельскохозяйственных
        культур с помощью новой модели картофелевоза ЯРОВИТ от Truck Industry.
      </p>
    </div>

  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="news4">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <p class="graph-modal__text">
        Главная цель Truck Industry — инновации. Идеология компании
        подразумевает постоянный поиск новых решений. «Творческие»
        конкуренты, в массе своей, не охотно берутся за их внедрение.
        Было не просто найти единомышленников, готовых к творческим
        экспериментам в сфере производства спецтехники. Ведущий дилер
        Минского автомобильного завода, ГлавМазТорг, стал идейным
        партнером Truck Industry, вдохновившись нашими идеями и амбициями.
        Объединившись, мы вместе по-новому взглянули на индустрию
        спецтехники.
      </p>
      <p class="graph-modal__text">

        Задавать тренды – вот что стало нашей главной совместной миссией.
        Делать технику для сельского хозяйства и других отраслей максимально
        удобной, доступной и многофункциональной, заботясь о потребителях и
        их благосостоянии. Мы постараемся показать, что такое «прибыльная и
        удобная спецтехника», а также вытеснить морально и технически
        устаревшую. ГлавМазТорг стал нашим верным партнером во внедрении
        новых идей и технологий.
      </p>
      <p class="graph-modal__text">
        Начинается новая глава в истории компании! Скоро для вас будет
        множество интересных и важных новостей.
      </p>
    </div>


  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="news5">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <picture>
        <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
        <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
        <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
        <img class="graph-modal__img img" src="img/project/car-1.webp" alt="">
      </picture>
      <p class="graph-modal__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque quam autem provident consectetur
        aspernatur assumenda nam facere mollitia repellendus labore ipsam eum, exercitationem nihil, dolore suscipit?
        Ad, eius delectus.
      </p>
      <p class="graph-modal__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque quam autem provident consectetur
        aspernatur assumenda nam facere mollitia repellendus labore ipsam eum, exercitationem nihil, dolore suscipit?
        Ad, eius delectus.
      </p>
      <p class="graph-modal__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque quam autem provident consectetur
        aspernatur assumenda nam facere mollitia repellendus labore ipsam eum, exercitationem nihil, dolore suscipit?
        Ad, eius delectus.
      </p>
    </div>
  </div>

  <!--форма из модального окна-->
  <div class="graph-modal__container graph-modal__container--form" role="dialog" aria-modal="true"
    data-graph-target="form">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <h3 class="graph-modal__title title title--section">Форма обратной связи</h3>
      <p class="graph-modal__text">Пожалуйста, заполните форму, чтобы мы могли связаться с вами в ближайшее время и
        ответить на все Ваши вопросы!
      </p>
      <form action="#" class="form form--modal" novalidate="novalidate">
        <label class="form__label">
          <input type="text" name="name" class="input input--light input-name input-reset" placeholder="Имя">
        </label>
        <label class="form__label">
          <input type="tel" name="phone" class="input input--light input-tel input-reset" placeholder="Телефон">
        </label>
        <label class="form__label">
          <input type="email" name="email" class="input input--light input-email input-reset" placeholder="Почта">
        </label>
        <button class="form__btn btn btn--main btn-reset">Отправить</button>
      </form>

    </div>
  </div>

  <!--форма категории-->
  <div class="graph-modal__container graph-modal__container--form" role="dialog" aria-modal="true"
    data-graph-target="card-form">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <h3 class="graph-modal__title title title--section">Форма обратной связи</h3>
      <p class="graph-modal__text">FORM CARD
      </p>
      <form action="#" class="form form--card" novalidate="novalidate">
        <label class="form__label">
          <input type="text" name="name" class="input input--light input-name input-reset" placeholder="Имя">
        </label>
        <label class="form__label">
          <input type="tel" name="phone" class="input input--light input-tel input-reset" placeholder="Телефон">
        </label>
        <label class="form__label">
          <input type="email" name="email" class="input input--light input-email input-reset" placeholder="Почта">
        </label>
        <button class="form__btn btn btn--main btn-reset">Отправить</button>
      </form>

    </div>
  </div>


  <!--описания карточек из категории-->
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="card-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <picture>
        <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
        <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
        <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
        <img class="graph-modal__img img" src="img/project/car-1.webp" alt="">
      </picture>
      <p class="graph-modal__text">
        Оптимизированная компоновка бортов для многозадачности. Идеально подходит для перевозки
        урожая, удобрений и с/х инвентаря.</p>

      <span class="graph-modal__title title">Объем кузова:</span>
      <div class="graph-modal__select-wrapp">
        <div class="graph-modal__select">
          <select class="select-first default">
            <option value="">От</option>
            <option>10 м³</option>
            <option>40 м³</option>
            <option>50 м³</option>
            <option>60 м³</option>
            <option>70 м³</option>
            <option>80 м³</option>
          </select>
        </div>
        <div class="graph-modal__select">
          <select class="select-second default">
            <option value="">До</option>
            <option>100 м³</option>
            <option>400 м³</option>
            <option>500 м³</option>
            <option>600 м³</option>
            <option>700 м³</option>
            <option>800 м³</option>
          </select>
        </div>





      </div>
      <button class="graph-modal__btn-card btn btn--main btn-reset" data-graph-path="card-form">Оставить заявку</button>


      <div id="slider"></div>

      <!-- <div class="filter__range range">
        <div class="range__top">
          <label class="range__label">
            <span class="range__text">от</span>
            <input class="range__input" id="input-number-before">
          </label>
          <label class="range__label">
            <span class="range__text">до</span>
            <input class="range__input" id="input-number-after">
          </label>
        </div>
        <div class="range__slider" id="rangeSlider"></div>
      </div> -->

    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="card-2">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <picture>
        <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
        <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
        <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
        <img class="graph-modal__img img" src="img/project/car-1.webp" alt="">
      </picture>
      <p class="graph-modal__text">
        Специализированный кузов для зерновых культур. Отличное решение для перевозки урожая с
        минимальными потерями.</p>

      <span class="graph-modal__title title">Объем кузова:</span>
      <div class="graph-modal__select-wrapp">
        <div class="graph-modal__select">
          <select class="default">
            <option value="">От</option>
            <option>10 м³</option>
            <option>40 м³</option>
            <option>50 м³</option>
            <option>60 м³</option>
            <option>70 м³</option>
            <option>80 м³</option>
          </select>
        </div>
        <div class="graph-modal__select">
          <select class="default">
            <option value="">До</option>
            <option>100 м³</option>
            <option>400 м³</option>
            <option>500 м³</option>
            <option>600 м³</option>
            <option>700 м³</option>
            <option>800 м³</option>
          </select>
        </div>
      </div>
      <button class="graph-modal__btn-card btn btn--main btn-reset" data-graph-path="card-form">Оставить заявку</button>

    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="card-3">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <picture>
        <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
        <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
        <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
        <img class="graph-modal__img img" src="img/project/car-1.webp" alt="">
      </picture>
      <p class="graph-modal__text">
        Быстрая и бережная горизонтальная разгрузка. Гарантирует сохранность овощей и уменьшает
        потери урожая до 25%.
      </p>

      <span class="graph-modal__title title">Объем кузова:</span>
      <div class="graph-modal__select-wrapp">
        <div class="graph-modal__select">
          <select class="default">
            <option value="">От</option>
            <option>10 м³</option>
            <option>40 м³</option>
            <option>50 м³</option>
            <option>60 м³</option>
            <option>70 м³</option>
            <option>80 м³</option>
          </select>
        </div>
        <div class="graph-modal__select">
          <select class="default">
            <option value="">До</option>
            <option>100 м³</option>
            <option>400 м³</option>
            <option>500 м³</option>
            <option>600 м³</option>
            <option>700 м³</option>
            <option>800 м³</option>
          </select>
        </div>
      </div>
      <button class="graph-modal__btn-card btn btn--main btn-reset" data-graph-path="card-form">Оставить заявку</button>

    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="card-4">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <picture>
        <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
        <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
        <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
        <img class="graph-modal__img img" src="img/project/car-1.webp" alt="">
      </picture>
      <p class="graph-modal__text">
        Увеличьте свою грузоподъемность. Повышенная производительность и надежность для
        различных грузов.
      </p>

      <span class="graph-modal__title title">Грузоподъемность:</span>
      <div class="graph-modal__select-wrapp">
        <div class="graph-modal__select">
          <select class="default">
            <option value="">От</option>
            <option>10 м³</option>
            <option>40 м³</option>
            <option>50 м³</option>
            <option>60 м³</option>
            <option>70 м³</option>
            <option>80 м³</option>
          </select>
        </div>
        <div class="graph-modal__select">
          <select class="default">
            <option value="">До</option>
            <option>100 м³</option>
            <option>400 м³</option>
            <option>500 м³</option>
            <option>600 м³</option>
            <option>700 м³</option>
            <option>800 м³</option>
          </select>
        </div>
      </div>

      <button class="graph-modal__btn-card btn btn--main btn-reset" data-graph-path="card-form">Оставить заявку</button>
    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="card-5">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <picture>
        <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
        <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
        <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
        <img class="graph-modal__img img" src="img/project/car-1.webp" alt="">
      </picture>
      <p class="graph-modal__text">
        Эффективная задняя разгрузка. Идеальный выбор для строительства и транспортировки
        крупногабаритных материалов.
      </p>

      <span class="graph-modal__title title">Объем кузова:</span>
      <div class="graph-modal__select-wrapp">
        <div class="graph-modal__select">
          <select class="default">
            <option value="">От</option>
            <option>10 м³</option>
            <option>40 м³</option>
            <option>50 м³</option>
            <option>60 м³</option>
            <option>70 м³</option>
            <option>80 м³</option>
          </select>
        </div>
        <div class="graph-modal__select">
          <select class="default">
            <option value="">До</option>
            <option>100 м³</option>
            <option>400 м³</option>
            <option>500 м³</option>
            <option>600 м³</option>
            <option>700 м³</option>
            <option>800 м³</option>
          </select>
        </div>
      </div>

      <button class="graph-modal__btn-card btn btn--main btn-reset" data-graph-path="card-form">Оставить заявку</button>
    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="card-6">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>

    <div class="graph-modal__content">
      <picture>
        <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
        <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
        <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
        <img class="graph-modal__img img" src="img/project/car-1.webp" alt="">
      </picture>
      <p class="graph-modal__text">
        Функциональность и прочность в каждом элементе. Прекрасный выбор для долгосрочных
        грузоперевозок и сложных логистических задач.
      </p>

      <span class="graph-modal__title title">Объем кузова:</span>
      <div class="graph-modal__select-wrapp">
        <div class="graph-modal__select">
          <select class="default">
            <option value="">От</option>
            <option>10 м³</option>
            <option>40 м³</option>
            <option>50 м³</option>
            <option>60 м³</option>
            <option>70 м³</option>
            <option>80 м³</option>
          </select>
        </div>
        <div class="graph-modal__select">
          <select class="default">
            <option value="">До</option>
            <option>100 м³</option>
            <option>400 м³</option>
            <option>500 м³</option>
            <option>600 м³</option>
            <option>700 м³</option>
            <option>800 м³</option>
          </select>
        </div>
      </div>
      <button class="graph-modal__btn-card btn btn--main btn-reset" data-graph-path="card-form">Оставить заявку</button>
    </div>
  </div>
</div>