<section class="section" id="news">
  <div class="section__container container">
    <div class="section__content news">
      <h2 class="news__title title title--section" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom">
        Последние новости</h2>

      <div class="news__swiper swiper swiper--news" data-aos="zoom-out" data-aos-anchor-placement="center-bottom">
        <ul class="news__list swiper-wrapper list-reset">

          <li class="news-card swiper-slide" data-graph-path="news1">
            <figure class="news-card__top">
              <picture>
                <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
                <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
                <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
                <img class="news-card__img img" src="img/project/thumb-car-1.webp" alt="">
              </picture>
              <figcaption class="news-card__figcaption">
                <span class="news-card__figcaption-text">20 марта 2023</span>
              </figcaption>
            </figure>
            <div class="news-card__description">
              <h3 class="news-card__title title">Транспортируем живую рыбу правильно</h3>
              <p class="news-card__text">Наша новая разработка – автокомплекс для транспортировки живой рыбы –
                «Живорыбка».
              </p>
              <button class="news-card__btn btn btn-reset">Читать далее</button>
            </div>
          </li>

          <li class="news-card swiper-slide" data-graph-path="news2">
            <figure class="news-card__top">
              <picture>
                <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
                <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
                <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
                <img class="news-card__img img" src="img/about/about.jpg" alt="">
              </picture>
              <figcaption class="news-card__figcaption">
                <span class="news-card__figcaption-text">28 марта 2023</span>
              </figcaption>
            </figure>
            <div class="news-card__description">
              <h3 class="news-card__title title">Наша Команда по дрифту — TI Racing!</h3>
              <p class="news-card__text">Этот смелый шаг знаменует собой важную веху в истории нашей
                компании, поскольку мы...
              </p>
              <button class="news-card__btn btn btn-reset">Читать далее</button>
            </div>
          </li>

          <li class="news-card swiper-slide" data-graph-path="news3">
            <figure class="news-card__top">
              <picture>
                <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
                <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
                <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
                <img class="news-card__img img" src="img/project/thumb-car-1.webp" alt="">
              </picture>
              <figcaption class="news-card__figcaption">
                <span class="news-card__figcaption-text">20 марта 2023</span>
              </figcaption>
            </figure>
            <div class="news-card__description">
              <h3 class="news-card__title title">Новая модель картофелевоза ЯРОВИТ</h3>
              <p class="news-card__text">Одной из особенностей Яровита является способность снижать ущерб
                урожаю на 25%. Мы понимаем, что каждый урожай...
              </p>
              <button class="news-card__btn btn btn-reset ">Читать далее</button>
            </div>
          </li>

          <li class="news-card swiper-slide" data-graph-path="news4">
            <figure class="news-card__top">
              <picture>
                <!-- <source srcset="img/events/320/events1.jpg" media="(max-width: 767px)">
                <source srcset="img/events/768/events1.jpg" media="(max-width: 1023px)">
                <source srcset="img/events/1024/events1.jpg" media="(max-width: 1439px)"> -->
                <img class="news-card__img img" src="img/about/about.jpg" alt="">
              </picture>
              <figcaption class="news-card__figcaption">
                <span class="news-card__figcaption-text">20 марта 2023</span>
              </figcaption>
            </figure>
            <div class="news-card__description">
              <h3 class="news-card__title title">Главная цель Truck Industry — инновации</h3>
              <p class="news-card__text">Идеология компании подразумевает постоянный поиск новых решений. «Творческие»
                конкуренты, не охотно берутся...
              </p>
              <button class="news-card__btn btn btn-reset ">Читать далее</button>
            </div>
          </li>


        </ul>
      </div>

    </div>
  </div>
</section>