<section class="section" id="reviews">
  <div class="section__container container">
    <div class="section__content reviews">
      <div class="reviews__wrapp">
        <h2 class="reviews__title title title--section">Отзывы клиентов</h2>
        <div class="nav-btn">
          <button class="reviews__btn-prev btn nav-btn--prev btn-reset">
            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
            </svg>
          </button>
          <button class="reviews__btn-next btn nav-btn--next btn-reset">
            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="reviews__swiper swiper swiper--reviews">

        <div class="swiper-wrapper ">
          <div class="reviews__slide swiper-slide">
            <div class="reviews__card" href="img/reviews/reviews1.webp" data-fancybox>
              <img class="reviews__img img" src="img/reviews/reviews1.webp" />
              <p class="reviews__description">ООО "GoodCompany"</p>
            </div>
          </div>
          <div class="reviews__slide swiper-slide">
            <div class="reviews__card" href="img/reviews/reviews1.webp" data-fancybox>
              <img class="reviews__img" src="img/companies/techspec.svg" />
              <p class="reviews__description">ООО "GoodCompany"</p>
            </div>
          </div>
          <div class="reviews__slide swiper-slide">
            <div class="reviews__card" href="img/reviews/reviews1.webp" data-fancybox>
              <img class="reviews__img" src="img/companies/alfaplus.svg" />
              <p class="reviews__description">ООО "GoodCompany"</p>
            </div>
          </div>
          <div class="reviews__slide swiper-slide">
            <div class="reviews__card" href="img/reviews/reviews1.webp" data-fancybox>
              <img class="reviews__img" src="img/companies/specagromash.svg" />
              <p class="reviews__description">ООО "GoodCompany"</p>
            </div>
          </div>
          <div class="reviews__slide swiper-slide">
            <div class="reviews__card" href="img/reviews/reviews1.webp" data-fancybox>
              <img class="reviews__img" src="img/companies/alfaplus.svg" />
              <p class="reviews__description">ООО "GoodCompany"</p>
            </div>
          </div>
          <div class="reviews__slide swiper-slide">
            <div class="reviews__card" href="img/reviews/reviews1.webp" data-fancybox>
              <img class="reviews__img" src="img/companies/specagromash.svg" />
              <p class="reviews__description">ООО "GoodCompany"</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>